@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@font-face {
    font-family: FuturaBT;
    src: url("../txt/Futura Bold BT.ttf");
}
@font-face {
    font-family: OpenSans;
    src: url("../txt/2211.ttf");
}
*{
    margin: 0px;
    padding: 0px;
}
.menu{
    background-color:  #ffffff;
    width: 100%;
    height: 110px;
    position: relative;
    top: 30px;
}
a{
    text-decoration: none;
}
.txt-company{
    font-family: "Roboto";
    color:  #424f57;
    font-size: 36px;
    font-weight: 300;
    line-height: 36px;
    display: inline-block;
}
.txt-name{
    font-family: "Roboto";
    color:  #14afca;
    font-size: 36px;
    font-weight: 900;
    line-height: 36px;
    display: inline-block;
}
.div-content-comname{
    position: absolute;
    left: 10%;
    width: 300px;
    display: inline-block;
    top: 32px;
}
.txt-div-what > a{
    font-family: "OpenSans";
    color:  #14afca;
    font-size: 15px;
    font-weight: 700;
}
.txt-companies > a{
    font-family: "OpenSans";
    color:  #3e4b4e;
    font-size: 15px;
    font-weight: 700;

}
.txt-meet > a{
    font-family: "OpenSans";
    color:  #3e4b4e;
    font-size: 15px;
    font-weight: 700;
}
.txt-why > a{
    font-family: "OpenSans";
    color:  #3e4b4e;
    font-size: 15px;
    font-weight: 700;
  }
.txt-testi > a{
    font-family: "OpenSans";
    color:  #3e4b4e;
    font-size: 15px;
    font-weight: 700;
}
.txt-div-what, .txt-companies, .txt-meet, .txt-testi, .txt-why{
    display: inline-block;
    margin-right: 65px;
}
.div-content-menu{
    position: relative;
    top: 18px;
    right: 0px;
    left: 16%;
}

.left-naer-1 {
    width: 0;
    height: 0;
    border-bottom: 100px solid #ffffff;
    border-right: 700px solid transparent;
    position: absolute;
    top: -95px;
    left: 0;
}
.right-naer-1 {
    width: 0;
    height: 0;
    border-bottom: 100px solid #ffffff;
    border-left: 700px solid transparent;
    position: absolute;
    top: -95px;
    right: 0;
}


.wrapper {
    width: 100%;
    text-align: center;

    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.txt-content-what{
     text-align: center;
     font-family: "Roboto";
     color:  #14afca;
     font-size: 60px;
     font-weight: 700;
     line-height: 40px;
     text-align: center;
     display: block;
     position: absolute;
     top: 15%;
 }
.txt-lorem{
    font-family: "OpenSans";
    color:  #424f57;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 28%;
}
.txt-lorem-ipsum{
    font-family: "Roboto";
    color:  #424f57;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    position: absolute;
    width: 65%;
    top: 49%;
}
.img1{
    background-image: url("../background-img/src_html_css_homework_homework9_optional_img_bg1.jpg");
}

.image1 {
    background-image: url("../background-img/src_html_css_homework_homework9_optional_img_bg1.jpg");
    background-size: cover;
    height: 100vh;
    transform: translateZ(-1px) scale(2);
}

.content_1 {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.image_container_1 {
    height: 600px;
    overflow: hidden;
}

.image_container_2{
    height: 700px;
    overflow: hidden;
}
.img2{
    background-image: url("../background-img/src_html_css_homework_homework9_optional_img_bg2.jpg");
}

.image2 {
    background-image: url("../background-img/src_html_css_homework_homework9_optional_img_bg2.jpg");
    background-size: cover;
    height: 100vh;
    transform: translateZ(-1px) scale(2);
}
.bottom-left-1{
     border-top: 100px solid #ffffff;
     border-left: 699px solid transparent;
     position: absolute;
    bottom: -97px;
    left: -23px;
    z-index: 1;
 }
.bottom-right-1{
    border-top: 100px solid #ffffff;
    border-right: 699px solid transparent;
    position: absolute;
    bottom: -97px;
    right: -23px;
    z-index: 1;
}
.content_2{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.image_container_3{
    height: 700px;
    overflow: hidden;
    width: 1400px;
    /*height: 715px;*/
}
.image3{
    background-image: url("../background-img/src_html_css_homework_homework9_optional_img_bg3.jpg");
    background-size: cover;
    height: 100vh;
    transform: translateZ(-1px) scale(2);
}
.img3{
    background-image: url("../background-img/src_html_css_homework_homework9_optional_img_bg3.jpg");
}
.img-txt-top{
    font-family: "Roboto";
    color:  #14afca;
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
    text-align: center;
    position: relative;
    top: 100px;
}
.img-1{
    width: 189px;
    height: 34px;
    position: relative;
    top: 62px;
    background-image: url("../img/Layer 78 copy 2.png");
}
.div-adobe{
    background-color:  #fcfbfb;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
    width: 222px;
    height: 96px;
    position: relative;
    left: 243px;
}
.img-adobe{
    background-image: url("../img/Layer 79.png");
    width: 77px;
    height: 63px;
    position: absolute;
    top: 15px;
    left: 15px;
}
.txt-adobe{
    background-image: url("../img/Layer 80 (1).png");
    width: 114px;
    height: 38px;
    position: absolute;
    top: 26px;
    right: 16px;
}
.img-2{
    background-image: url("../img/Layer 81.png");
    width: 217px;
    height: 40px;
    position: absolute;
    left: 515px;
    top: 62px;
}
.img-3{
    background-image: url("../img/Layer 77.png");
    width: 176px;
    height: 89px;
    position: absolute;
    left: 783px;
    top: 46px;
}

.img-4{
    background-image: url("../img/Layer 83.png");
    width: 159px;
    height: 48px;
    position: absolute;
}
.img-5{
    background-image: url("../img/Layer 81.png");
    width: 217px;
    height: 40px;
    position: absolute;
    left: 243px;
    top: 8px;
}
.img-6{
    background-image: url("../img/Layer 8.png");
    width: 185px;
    height: 48px;
    position: absolute;
    left: 515px;
    top: 5px;
}
.img-7{
    background-image: url("../img/Layer 82.png");
    width: 200px;
    height: 38px;
    position: absolute;
    left: 783px;
    top: 15px;
}
.img-content-div-1{
    width: 100%;
    height: 100px;
    top: 200px;
    position: absolute;
    left: 170px;
}
.img-content-div-2{
    width: 100%;
    height: 100px;
    top: 400px;
    position: absolute;
    left: 170px;
}
.content_3{
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.txt-meet{
    font-family: "Roboto";
    color:  #14afca;
    font-size: 60px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    left: 40%;
    top: 50px;
}
.txt-lorem-ipsum-content-2{
    font-family: "OpenSans";
    color:  #424f57;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 118px;
    left: 35%;
}
.div-txt-1, .div-txt-2, .div-txt-3{
    font-family: "Roboto";
    color:  #424f57;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    width: 281px;

}
.div-img-1{
    background-image: url("../img/Layer 14.png");
    width: 207px;
    height: 206px;
    position: relative;
    left: 30px;

}
.div-img-2{
    background-image: url("../img/Layer 13.png");
    width: 203px;
    height: 201px;
    position: relative;
    left: 30px;
    top: -2px;
}
.div-img-3{
    background-image: url("../img/Layer 12.png");
    width: 207px;
    height: 206px;
    position: relative;
    left: 30px;
}
.div-content-img-txt-1{
    width: 300px;
    height: 120px;
    position: absolute;
    left: 16%;
    top: 200px;
}
.div-content-img-txt-2{
    width: 300px;
    height: 120px;
    position: absolute;
    top: 205px;
    left: 40%;
}
.div-content-img-txt-3{
    width: 300px;
    height: 120px;
    position: absolute;
    left: 64%;
    top: 200px;
}
.txt-testimonial{
    font-family: "Roboto";
    color:  #14afca;
    font-size: 60px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 34%;
}
.img-txt-lorem{
    font-family: "OpenSans";
    color:  #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 255px;
    left: 34%;
}
.txt-img-bottom{
    font-family: "OpenSans";
    color:  #d3cccc;
    font-size: 16px;
    font-style: italic;
    line-height: 28px;
    text-align: center;
    position: absolute;
    top: 309px;
    width: 680px;
    left: 25%;
}
.txt-img-ps-bottom{
    font-family: "OpenSans";
    color:  #ffffff;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    line-height: 24px;
    text-align: left;
    position: absolute;
    top: 380px;
    right: 27%;
}
.why-\?{
    font-family: "Roboto";
    color:  #14afca;
    font-size: 60px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 44%;
}
.bottom-txt-lorem{
    font-family: "OpenSans";
    color:  #424f57;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 151px;
    left: 34%;
}
.txt-innovation-1{
    font-family: "Roboto";
    color:  #424f57;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 22%;
}
.txt-innovation-2{
    font-family: "Roboto";
    color:  #424f57;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    position: absolute;
    top: 57px;
    left: 25%;
}
.bottom-copyright{
    font-family: "OpenSans";
    color:  #3d3c3c;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    position: absolute;
    left: 36%;
    width: 357px;
    top: 440px;
}
.txt-lconic{
    font-family: "OpenSans";
    color:  #3d3c3c;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    position: absolute;
    top: 66%;
    left: 49%;

}
.txt-design-1{
    font-family: "OpenSans";
    color: #3d3c3c;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    position: absolute;
    top: 66%;
    left: 42%;
}
.txt-meet-2{
    font-family: "Roboto";
    color:  #14afca;
    font-size: 60px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    position: absolute;
    left: 40%;
    top: 50px;
}